<!DOCTYPE html>
<html dir="ltr" lang="en-US" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head}">
</head>

<body class="stretched side-header open-header push-wrapper close-header-on-scroll">
<!-- Preloader -->
<div class="preloader preloader-cover-page">
    <div class="css3-spinner" style="--cnvs-loader-color:var(--cnvs-themecolor);">
        <div class="css3-spinner-bounce1"></div>
        <div class="css3-spinner-bounce2"></div>
        <div class="css3-spinner-bounce3"></div>
    </div>
</div>
<!-- Document Wrapper
============================================= -->
<div id="wrapper">


    <div th:replace="~{fragments/header :: header-trigger}"></div>
    <header th:replace="~{fragments/header :: header}"></header>

    <!-- Rest of your website content -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container" th:object="${generalStatistics}">
                <div class="fancy-title title-center title-border my-5">
                    <h4>YOUR NFC</h4>
                </div>
                <div class="row col-mb-50">
                    <div class="col-sm-6 col-lg-4 text-center">
                        <i class="i-plain i-xlarge mx-auto mb-0 fa-brands fa-nfc-directional"></i>
                        <div class="counter counter-large" style="color: var(--cnvs-themecolor);"><span data-from="0" th:data-to="*{totalNumberOfNFCs}" data-refresh-interval="50" data-speed="2000"></span></div>
                        <h5>Total Number Of NFC</h5>
                    </div>

                    <div class="col-sm-6 col-lg-4 text-center">
                        <i class="i-plain i-xlarge mx-auto mb-0 bi-megaphone"></i>
                        <div class="counter counter-large" style="color: #e74c3c;"><span data-from="0" th:data-to="*{numberOfCampaigns}" data-refresh-interval="50" data-speed="2500"></span></div>
                        <h5>Number Of Campaigns</h5>
                    </div>

                    <div class="col-sm-6 col-lg-4 text-center">
                        <i class="i-plain i-xlarge mx-auto mb-0 bi-eye"></i>
                        <div class="counter counter-large" style="color: #3498db;"><span data-from="0" th:data-to="*{totalNumberOfViews}" data-refresh-interval="50" data-speed="3500"></span></div>
                        <h5>Number Of Views</h5>
                    </div>

                </div>
            </div>
        </div>
    </section><!-- #content end -->

    <!--    <footer th:replace="~{fragments/footer :: footer}"></footer>-->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="uil uil-angle-up"></div>

<!-- JavaScripts
============================================= -->
<script src="/js/plugins.min.js"></script>
<script src="/js/functions.bundle.js"></script>

</body>
</html>